.header
    position: fixed
    top: 0
    bottom: 0
    left: 0
    font-size: 16px
    width: 212px
    height: 100vh
    border-right: 1px solid #DADADA
    &-active
        padding-left: 20px
        position: relative
        &::before
            content: ''
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
            left: 5px
            width: 5px
            height: 5px
            border-radius: 100%
            background-color: #FD3A6C
        span
            color: #FD3A6C
        path
            fill: #FD3A6C !important
    &-item
        display: flex
        align-items: center
        margin-left: 29px
        margin-bottom: 35px
        text-decoration: none
        color: #000
        transition: all 0.2s  ease
        &:hover
            color: #FD3A6C
        &:last-child
            position: fixed
            display: flex
            margin-bottom: 30px
            bottom: 0px
            font-size: 18px
            line-height: 24px
        &-icon
            margin-right: 12px

.logo
    margin-top: 40px
    margin-left: 33px
    margin-bottom: 46px