.home-header, .payment-header-text
    font-weight: 700
    font-size: 20px
    margin: 0
    padding-top: 20px 

.payment
    &-item
        display: flex
        align-items: center
        position: fixed
        top: 50%
        left: calc(100vw - (100vw - 601px)/2)
        transform: translate(-50%, -50%)
        font-weight: bold
        font-size: 20px
        transition: background  0.5s  0s ease 
        cursor: pointer
        padding: 5px 20px
        border-radius: 30px
        svg
            margin-right: 14px
        &:hover
            background: #FFFFFF
            border: 1px solid #FD3A6C
            border-radius: 30px
            padding: 5px 20px
      
    &-header
        display: flex
        svg
            margin-top: 30px
            margin-right: 10px
